<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://dubbo.apache.org/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://dubbo.apache.org/schema/dubbo http://dubbo.apache.org/schema/dubbo/dubbo.xsd">

<!--  发布服务名称 名称必须唯一  -->
    <dubbo:application name="dubbo_provider"/>
<!--  注册中心在哪里  -->
    <dubbo:registry address="zookeeper://127.0.0.1:2181"/>
    <!--dubbo扫包-->
    <dubbo:annotation package="com.itheima.service"/>
    <import resource="classpath:spring-service.xml"/>
    <dubbo:provider protocol="dubbo" port="20882"/>
</beans>